  <footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
      <h2 class="footer-heading">NetHack中文版 （NetHack-CN）</h2>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">NetHack中文版 （NetHack-CN）</li>
            <li>网页制作者：<a href="https://github.com/Francium-223/">Francium-223</a> &lt;<a class="u-email" href="mailto:wizardofyendor@outlook.com">wizardofyendor@outlook.com</a>&gt;</li>
          </ul>
        </div>
        <div class="footer-col footer-col-2">
          <ul class="social-media-list"></ul>
        </div>
        <div class="footer-col footer-col-3">
          <p>{{ include.description }}</p>
        </div>
      </div>
    </div>
  </footer>
