<!DOCTYPE html>
<html lang="zh-CN"><head>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>服务器 - NetHack中文版 | 可用服务器列表</title>
  <meta name="description" content="NetHack中文版（NetHack-cn）的服务器页面。提供主要的可用服务器信息。">

  <link rel="stylesheet" href="../assets/main.css">
  <link rel="canonical" href="index.html">
  <link rel="alternate" type="application/rss+xml" title="NetHack-cn" href="../feed.xml">
  
  
</head>
<body><header class="site-header">

  <div class="wrapper"><a class="site-title" rel="author" href="../index.html">NetHack-cn</a><nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {% include pagelinks.html %}
        </div>
      </nav></div>
</header>
<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">

  <header class="post-header">
    <h1 class="post-title">服务器</h1>
  </header>

  <div class="post-content">
{% include notice.html %}

<div style="position: relative"><h2 id="ephesus">以弗所服务器</h2>
<figure style="position:absolute; right: 0px; left: 400px; top:100px; bottom:0px">
<img src="/assets/images/ephesus.jpg" alt="以弗所（Ephesus）的阿尔忒弥斯（Artemis）神庙">
<figcaption>
<em>以弗所（Ephesus）的阿尔忒弥斯（Artemis）神庙</em>
</figcaption>
</figure></div>
<h3 style="position:relative">SSH:</h3>
<p>server.ephesus.top:2222</p>
<p>server.ephesus.quest:2222</p>
<p>43.142.255.37:2222(华东节点加速)</p>
<p>用户名：rlfans，密码：darkfun</p>
<h3>HTTPS:</h3>
<p><a href="https://server.ephesus.top">https://server.ephesus.top</a></p>
<h2 id="others">其他</h2>
<p>见<a href="https://nethackwiki.com/wiki/Public_server">nethackwiki.com/wiki/Public_server</a>。</p>

</article>

      </div>
    </main>  <footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
      <h2 class="footer-heading">NetHack中文版 （NetHack-CN）</h2>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">NetHack中文版 （NetHack-CN）</li>
            <li>网页制作者：<a href="https://github.com/Francium-223/">Francium-233</a> &lt;<a class="u-email" href="mailto:wizardofyendor@outlook.com">wizardofyendor@outlook.com</a>&gt;</li>
          </ul>
        </div>
        <div class="footer-col footer-col-2">
          <ul class="social-media-list"></ul>
        </div>
        <div class="footer-col footer-col-3">
          <p>NetHack-cn 可用服务器列表。</p>
        </div>
      </div>
    </div>
  </footer>

<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>

</html>
