---
---
<!DOCTYPE html>
<html lang="zh-CN"><head>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>服务器 - NetHack中文版 | 可用服务器列表</title>
  <meta name="description" content="NetHack中文版（NetHack-cn）的服务器页面。提供主要的可用服务器信息。">

  <link rel="stylesheet" href="../assets/main.css">
  <link rel="canonical" href="https://nethack-cn.github.io/servers/">
  
  
</head>
<body>{% include header.html %}
<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">

  <header class="post-header">
    <h1 class="post-title">服务器</h1>
  </header>

  <div class="post-content">
{% include notice.html %}

<div style="position: relative"><h2 id="ephesus">以弗所服务器</h2>
<figure class="figure-float">
<img src="/assets/images/ephesus.jpg" alt="以弗所（Ephesus）的阿尔忒弥斯（Artemis）神庙" width="1024" height="681" loading="lazy" decoding="async">
<figcaption>
<em>以弗所（Ephesus）的阿尔忒弥斯（Artemis）神庙</em>
</figcaption>
</figure></div>
<h3>SSH:</h3>
<p>server.ephesus.top:2222</p>
<p>server.ephesus.quest:2222</p>
<p>43.142.255.37:2222(华东节点加速)</p>
<p>用户名：rlfans，密码：darkfun</p>
<h3>HTTPS:</h3>
<p><a href="https://server.ephesus.top">https://server.ephesus.top</a></p>
<h2 id="others">其他</h2>
<p>见<a href="https://nethackwiki.com/wiki/Public_server">nethackwiki.com/wiki/Public_server</a>。</p>

  </div>

</article>

      </div>
    </main>  {% include footer.html description="NetHack-cn 可用服务器列表。" %}

</body>

</html>
